name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Get Synopsys Detect Rescan
        run: curl -s -L https://raw.github.com/matthewb66/detect_rescan/main/detect_rescan.sh > detect_rescan.sh
      - name: Synopsys Detect Rescan
        run: bash detect_rescan.sh --blackduck.url={{secrets.ORG_BLACKDUCK_URL}} --blackduck.api.token={{secrets.ORG_BLACKDUCK_TOKEN}} --detect.project.name=github-io-sample --quiet --testxml --report
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: '**/policies.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
